/*-----Locally hosted font-----*/
@font-face {
    font-family: "Montserrat-Medium";
    src: url('/assets/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url('/assets/fonts/Montserrat-MediumItalic.woff') format('woff');
    font-style: italic;
}


/*-----Sidebar-----*/
.sidebar-title {
    font-weight: bolder;
}


#main h1,
#main h2,
#main h3 {
    color: $secondary;
    font-weight: 500;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*---screenshots----*/
p:has(img.screenshot) {
    text-align: center;

    img.screenshot {
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: 1em;
    }
}

@include media-breakpoint-up(md) {
    img.screenshot {
        max-width: 40em;
    }
}


/*----Font Aweseome icon colour, match headings----*/
main .fa-solid:not(.fa-house) {
    color: $secondary;
}


/*-----Top navigation-----*/

.navbar-nav .nav-item>a.active {
    background-color: $primary;
    color: white;
}


/*-----Homepage tiles-----*/

#main .navigation-tiles .btn:hover h3,
main .navigation-tiles .btn:hover .fa-solid {
    color: inherit;
}

#main .navigation-tiles p,
main .navigation-tiles p {
    text-wrap: balance;
}

/*-------Get SEEK tiles------*/
#main .where-start {
    .where-start-tile {
        padding: 0 0.5rem;

        h3 {
            margin-top: 1rem;
        }
    }
}


/*----------Differences FAIRDOMHub table--------*/
/* Depends on the heading used immediately before the table on get-seek.md */
#what-are-the-differences + div table > :not(caption) > * > *:nth-child(2) {
    background-color: $light;
}


/*----------Call out Markdownify--------*/
.alert-head {
    font-size: larger;
    border-bottom: 1px solid $light;
}
