--- 
layout: none
permalink: assets/css/main.css
---

/*-----Include other SASS files-----*/

@import "bootstrap_variables";
@import "bootstrap/bootstrap";

/*-----Custom classes-----*/

#main-box {
    max-width: 600px;
}